.top-headline {
    position: relative;
    left: 300px;
    width: 800px;
    font-size: 45px;font-family: Georgia;
    color: darkgreen;
}
.bottom-headline {
    position: relative;
    left: 360px;top: -35px;
    width: 800px;
    font-size: 45px;font-family: Georgia;
    color: darkgreen;
}
h2 {
    position: relative;
    margin: 0px;
    bottom: -50px;
    left: 400px; 
    font-size: 35px;top: -40px;font-family: Georgia;
}
.picture {
    float: top;
    position: relative;
    bottom: 400px;
    left: 360px;
    width: 255px;  
}
body .paragraph-1 {
    position: relative;
    left: 635px;
    bottom: 25px;
    width: 465px;
    height: 370px;
    line-height: 25px;
    font-size: 21px;
}
#paragraph-2 {position: relative;
    left: 340px;
    bottom: 400px;
    width: 800px;
    line-height: 25px;
    font-size: 21px;
}
ul > .bullet-point {
    position: relative;
    bottom: 400px;
    left: 350px;
    font-size: 21px;
}
#all-caps {
    text-transform: uppercase;
    position: relative;
    bottom: 400px;
    left: 345px;
    font-size: 21px;

}
#link {
    position: relative;
    bottom: 400px;
    left: 345px;
    font-size: 21px;
    text-decoration: unset;
}
#link:hover {
    cursor: pointer;
    text-decoration: underline;
}