html, body {
    margin: 0;
    padding: 0;
}
.top-headline {
    position: relative;
    left: 300px;
    width: 800px;
    font-size: 45px;font-family: Georgia;
    color: darkgreen;
}
.bottom-headline {
    position: relative;
    left: 360px;top: -35px;
    width: 800px;
    font-size: 45px;font-family: Georgia;
    color: darkgreen;
}
h2 {
    position: relative;
    margin: 0px;
    bottom: -50px;
    left: 400px;
    
    font-size: 35px;top: -40px;font-family: Georgia;
}
.picture {
    float: left;
    position: relative;
    left: 23.5%;
    
    width: 255px;  
}
body .paragraph-1 {
    position: relative;    
    left: 335px;
    margin: 0px;
    top: -16px;
    width: 55%;
    line-height: 25px;
    font-size: 21px;
}
body .paragraph-2 {
    position: relative;
    left: 335px;
    margin: 0px;
    top: -10px;
    width: 55%;
    line-height: 25px;
    font-size: 21px;
}
body #paragraph-3 {
    position: relative;
    left: 295px;
    width: 58%;
    line-height: 25px;
    font-size: 21px;
}
ul > .bullet-point {
    position: relative;
    left: 300px;
    font-size: 21px;
}
#all-caps {
    text-transform: uppercase;
    position: relative;
    left: 295px;
    font-size: 21px;

}
#link {
    position: relative;
    left: 295px;
    font-size: 21px;
    text-decoration: unset;
}
#link:hover {
    cursor: pointer;
    text-decoration: underline;
}