div { 
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: lighter;
}
#pink {
    border: 1px solid #FFFFFF;
    background-color: #F5C6D6;
    line-height: 60px;
}
#hot-pink {
    position: relative;
    border: 1px solid #FFFFFF;
    background-color: #EE2E84;
    line-height: 60px;
}

#blue {
    border: 1px solid #FFFFFF;
    background-color: #85CFD8;
    line-height: 60px;
}
#green {
    border: 1px solid #FFFFFF;
    background-color: #8DC63F;
    line-height: 60px;
}
#orange {
    border: 1px solid #FFFFFF;
    background-color: #E76E34;
    line-height: 60px;
}
@media  (max-width: 768px ) and (min-width: 300px){
    #hot-pink {
        border: 1px  solid #FFFFFF;
        background-color: #EE2E84;
        padding: 3px;
        width:  110px;
        height: 60px;
        position: relative;
        display: inline-block;
    }
    #pink {
        border: px solid #FFFFFF;
        background-color: #F5C6D6;
        width: 482px;
        height: 60px;  
    }
    #blue {
        display: inline-block;
        border: 1px solid #FFFFFF;
        background-color: #85CFD8;
        width: 238px;
        height: 60px;
    }
    #green {
        display: inline-block;
        border: 1px solid #FFFFFF;
        background-color: #8DC63F;
        width: 360px;
        height: 60px;
    }
    #orange {
        display: inline-block;
        border: 1px solid #FFFFFF;
        background-color: #E76E34;
        width: 116px;
        height: 60px;
    }
}* { /* Resets and Default styling */
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: lighter;
}
#container1  {
     border: 2px solid #FFFFFF;
     background-color: #F5C6D6;
     line-height: 80px;
}
#container2 > h3{
    border: 2px solid #FFFFFF;
    background-color: #EE2E84;
    line-height: 80px;
 
}
#container3 >h3 {
    border: 2px solid #FFFFFF;
    background-color: #85CFD8;
    line-height: 80px;
}
#container4 {
    border: 2px solid #FFFFFF;
    background-color: #8DC63F;
    line-height: 80px;
}
#container5 {
    border: 2px solid #FFFFFF;
    background-color: #E76E34;
    line-height: 80px;
}
@media only screen and (max-width: 767px) {

    #container1 {
        border: 2px solid #FFFFFF;
        background-color: #F5C6D6;    
    }
    #container2 > h3{
        border: 2px solid #FFFFFF;
        background-color: #EE2E84;
        display:inline-block;
        width: 183px;
    }
  #container3 >h3 {
    border: 2px solid #FFFFFF;
    background-color: #85CFD8;
    display: inline-block;
    width: 374px;
    height: 60px;
}
  #container4 {
    border: 2px solid #FFFFFF;
    background-color: #8DC63F;
    width: 565px;
    display:inline-block;
}
  #container5 {
    border: 2px solid #FFFFFF;
    background-color: #E76E34;
    width: 183px;
    display:inline-block;
}
}